.idea/
.qt/
.cmake/
CMakeCache.txt
CMakeFiles/
Makefile
README.md.new
Testing/
bin/
build.ninja
cmake_install.cmake
src/CMakeFiles/
src/CommonBehavior.cpp
src/CommonBehavior.h
src/CommonBehavior.ice
src/EmotionalMotor.cpp
src/EmotionalMotor.h
src/EmotionalMotor.ice
src/Makefile
src/cmake_install.cmake
src/emotionalMotor_autogen/
